@import url('main-style.css');
@import url('view/hero-view.css');
@import url('common.css');

html {
    --lumo-primary-color: rgb(165, 180, 252);
    --lumo-primary-color-50pct: rgba(165, 180, 252, 0.5);
    --lumo-primary-color-10pct: rgba(165, 180, 252, 0.1);
    --lumo-primary-text-color: hsl(214, 35%, 15%);
    --lumo-success-color: rgb(52, 211, 153);
    --lumo-success-color-50pct: rgba(52, 211, 153, 0.5);
    --lumo-success-color-10pct: rgba(52, 211, 153, 0.1);
    --lumo-success-text-color: hsl(214, 35%, 15%);
    --lumo-error-color: rgb(248, 113, 113);
    --lumo-error-color-50pct: rgba(248, 113, 113, 0.5);
    --lumo-error-color-10pct: rgba(248, 113, 113, 0.1);
    --lumo-base-color: rgb(229, 231, 235);
    --lumo-navbar-color: rgb(42, 51, 66);
    --lumo-item-color: rgb(136, 150, 171);
    --lumo-light-color: #fff;
    --lumo-font-family: Montserrat;
}

[theme~="dark"] {
    --lumo-primary-color-50pct: rgba(1, 113, 135, 0.5);
    --lumo-primary-color-10pct: rgba(1, 113, 135, 0.1);
    --lumo-error-color-50pct: rgba(226, 92, 92, 0.5);
    --lumo-error-color-10pct: rgba(226, 92, 92, 0.1);
    --lumo-success-color-50pct: rgba(83, 210, 88, 0.5);
    --lumo-success-color-10pct: rgba(83, 210, 88, 0.1);
    --lumo-primary-color: rgb(1, 113, 135);
    --lumo-primary-text-color: rgb(1, 113, 135);
    --lumo-error-color: rgb(226, 92, 92);
    --lumo-error-text-color: rgb(226, 92, 92);
    --lumo-success-color: rgb(83, 210, 88);
    --lumo-base-color: rgb(44, 49, 49);

}

[theme~="ui_kit"] {
    --lumo-primary-color: rgb(44, 98, 185);
    --lumo-primary-color-50pct: rgba(44, 98, 185, 0.5);
    --lumo-primary-color-10pct: rgba(44, 98, 185, 0.1);
    --lumo-success-color: rgb(21, 128, 61);
    --lumo-success-color-50pct: rgba(21, 128, 61, 0.5);
    --lumo-success-color-10pct: rgba(21, 128, 61, 0.1);
    --lumo-error-color: rgb(179, 67, 51);
    --lumo-error-color-50pct: rgba(179, 67, 51, 0.5);
    --lumo-error-color-10pct: rgba(179, 67, 51, 0.1);
    --lumo-error-text-color: rgb(179, 67, 51);
    --lumo-success-text-color: rgb(21, 128, 61);
    --lumo-body-text-color: rgb(64, 79, 101);
    --lumo-primary-text-color: rgb(44, 98, 185);
    --lumo-navbar-color: rgb(42, 51, 66);
    --lumo-navbar-item-color: rgb(136, 150, 171);
    --lumo-font-family: Montserrat;
}
