.hero__card {
    max-height: 700px;
    padding: 10%;
    background: var(--lumo-navbar-color);
}

.hero__name {
    white-space: nowrap;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 72px;
    letter-spacing: -0.02em;
    color: var(--lumo-light-color);
}

.hero__description {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--lumo-item-color);
}

.hero__image {
    width: 460px;
    border-radius: 24px;
}